@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300;1,400;1,700&family=Merriweather:wght@400;700&display=swap');

* {
    font-family: 'Lato', sans-serif;
    font-family: 'Merriweather', serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.title {
    font-size: 2.5rem;
    text-align: center;
}

.answerDiv {
    height: 20rem;
    background-color: black;
    color: #f8f9fa;
    padding: .5rem 1rem;
    margin-bottom: 3rem;
    border-radius: 10px;
    font-size: 1.1rem;
}
.form{
    display: flex;
    justify-content: center;
    padding: 0 5px;
}
.form input {
    width: 80%;
    height: 3rem;
    position: relative;
    top: 5rem;
    background-color: rgb(220, 220, 220);
    border-radius: 10px;
    border: none;
    padding: 0 2rem;
    margin-right: 1rem;
    font-size: 1rem;
}
.form input::placeholder{
    font-size: 1rem;
    color: rgb(48, 48, 130);
}
.btn{
    width: 20%;
    height: 3rem;
    position: relative;
    top: 5rem;
    border-radius: 5px;
    color: white;
    border: none;
    background-color: blue;
    font-size: 1rem;
}
.btn:hover{
    cursor: pointer;
    background-color: rgb(199, 53, 53);
}